.headerContent {
    position: static;
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #00aeef;
}

.main-head {
    display: inline-block;
    margin: 0 auto;
    padding: 21px;
    text-decoration: none;
    font-size: 42px;
    font-weight: bolder;
}

.main-head:active {
    color: #000;
}

.btn--header {
    float: right;
    margin: 24px 8px;
}