.headerContent {
    position: static;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: rgba(66,165,252, 1);
    line-height: 40px;
}

.btn {
    padding: 0 12px;
    line-height: 40px;
    background-color: transparent;
}

.main-head {
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    float: left;
    margin: 0 24px;
    color: #fff;
}

.main-head:active {
    color: #000;
}

.btn--header {
    float: right;
    margin: 0 8px;
}